# Terraform state files
*.tfstate
*.tfstate.*

# Backup files
*.tfstate.backup

# Variable files
*.tfvars
*.var.db_password

# Terraform local cache
.terraform/

# Editor-specific settings
.vscode/
# Local .terraform directories
.terraform/
.vscode/
